<main class="flex flex-col my-4 max-w:[82rem] min-h-[81vh]">
  <div class="flex flex-col justify-center items-center text-center whitespace-normal max-w-[30rem] sm:max-w-[35rem] md:max-w-[40rem]
   lg:max-w-[62rem] xl:max-w-[78rem] min-[1361px]:max-w-[82rem] mx-auto px-3 break-words mt-2 select-none" draggable="false">
    <div class="font-bold text-red-600 text-3xl lg:text-4xl max-w-full overflow-hidden my-2">
      Error!
    </div>
    <div class="font-bold text-xl lg:text-2xl max-w-full overflow-hidden my-2">
      Oops! We did everything possible to find what you needed but the error occurred!
    </div>
    <div class="text-lg max-w-full overflow-hidden my-2">
      It seems that the address is incorrect or the page no longer exists!
    </div>
    <button routerLink="/" class="mt-3 w-fit px-3 rounded-xl select-none py-[0.11em] bg-neutral-300 hover:bg-neutral-800
     ease-out duration-300 transition text-neutral-800 hover:text-neutral-200 text-sm sm:text-base">
      <span class="m-2">Return to the home page</span>
    </button>
  </div>
</main>
