<div
     class="bg-white border-neutral-800 border rounded-xl py-2 px-3 select-none my-2" draggable="false">
  <button class="flex flex-row items-center justify-between w-full" (click)="toggleDropdown()">
    <h2 class="font-bold text-base">Price</h2>
    <div class="justify-end">
      <svg class="ml-3 mt-1 w-3 h-3 {{ isOpen ? '-rotate-90' : 'rotate-90' }} transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 185.343 185.343" xml:space="preserve" fill="#262626">
        <path style="fill:#262626;" d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175 l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934 c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z"></path>
      </svg>
    </div>
  </button>
  <div [@expandCollapse]="isOpen ? 'expanded' : 'collapsed'">
    <div class="border-t border-neutral-300 my-2"></div>
    <div class="mt-3 flex flex-row justify-between">
      <input id="lowerpricelimit" class="w-20 font-bold border rounded-lg p-0.5 text-center focus:outline-0" placeholder="{{minValue}}" type="text" appPositiveNumber>
      <span class="text-lg mx-auto">—</span>
      <input id="upperpricelimit" class="w-20 font-bold border rounded-lg p-0.5 text-center focus:outline-0" placeholder="{{maxValue}}" type="text" appPositiveNumber>
    </div>
    <div [@rangeErrorFadeInOut]="showAlert ? 'enter' : 'leave'" *ngIf="showAlert" class="flex flex-wrap w-full text-red-500 text-sm text-center font-bold p-1 mt-3 mx-auto border rounded-xl bg-red-200">
      <p class="w-48 mx-auto">{{priceErrorHint}}</p>
    </div>
    <button [disabled]="buttonDisabled" [ngClass]="{'pointer-events-none': buttonDisabled}" inputmode="numeric"
            draggable="false" class="mt-3 w-full rounded-xl select-none py-[0.11em] bg-neutral-300 hover:bg-neutral-800
     ease-out duration-300 transition text-neutral-800 hover:text-neutral-200 text-sm sm:text-base" (click)="executePriceRangeApply()">
      <span class="m-2">OK</span>
    </button>
  </div>
</div>


