<main class="min-h-[85vh] flex flex-row justify-center items-center mx-auto accent-neutral-800 max-lg:my-2.5">
  <div class="max-sm:w-[90vw] w-[30rem] rounded-xl bg-white border p-2.5">
    <div class="flex flex-row justify-start w-full mb-4 select-none" draggable="false">
      <h1 class="font-bold text-3xl p-1.5">Log in</h1>
    </div>
    <form class="p-1.5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <app-text-input [formControl]="loginForm.controls['email']" [label]="'Email'" [type]="'email'"></app-text-input>
        <app-text-input [formControl]="loginForm.controls['password']" [label]="'Password'" [type]="'password'"></app-text-input>
      </div>
      <div *ngIf="responseMessage | async" class="mt-2 mb-3 mx-1 text-sm text-red-600 font-bold select-none" draggable="false">{{responseMessage.value}}</div>
      <button *ngIf="loginForm.invalid" [disabled]="loginForm.invalid" type="submit" class="rounded-xl select-none py-2 px-4 bg-neutral-300 text-sm sm:text-base">
        <span class="m-2">Submit</span>
      </button>
      <button *ngIf="!loginForm.invalid" type="submit" class="rounded-xl select-none py-2 px-4 bg-neutral-300 hover:bg-neutral-800 ease-out duration-300
          transition text-neutral-800 hover:text-neutral-200 text-sm sm:text-base">
        <span class="m-2">Submit</span>
      </button>
    </form>
    <div class="mx-2 mt-3 duration-200 ease-in-out transition hover:underline">
      <a [routerLink]="['/account/register']" class="text-sm">Register a new account</a>
    </div>
  </div>
</main>
