<app-basic-accordion [filterData]="filtersService.filterBrands" [dropdownTitle]="'Brands'"></app-basic-accordion>
<app-basic-accordion [filterData]="filtersService.filterCategories" [dropdownTitle]="'Categories'"></app-basic-accordion>
<app-price-range-accordion
  [minValue]="filtersService.minimalPrice" [maxValue]="filtersService.maximumPrice"></app-price-range-accordion>
<app-specifications-accordion *ngFor="let category of Object.keys(filtersService.filterSpecs)"
                              [filterData]="filtersService.filterSpecs[category]" [category]=category></app-specifications-accordion>
