<main class="flex flex-col my-4 w-fit mx-auto">
  <app-filter-modal [showModal]="isFiltersModalVisible"
                    [category]="categoryMapping[category]"
                    (closeModal)="toggleFilters()"
  class="h-full"></app-filter-modal>
  <div class="flex flex-row justify-between">
    <div class="flex flex-col select-none justify-start ml-1.5 lg:ml-3.5" draggable="false">
      <h1 class="font-bold text-2xl">{{category.charAt(0).toUpperCase() + category.slice(1).replaceAll('_', ' ')}}</h1>
      <h4 style="font-family: 'Open Sans', sans-serif;" class="text-neutral-500">{{totalItemsQuantity}} items</h4>
    </div>
    <div *ngIf="totalItemsQuantity > 0" class="max-lg:hidden max-xl:mx-1 mx-3.5 items-end w-60">
      <h2 class="text-sm ml-1">Sort by</h2>
      <select class="mt-1 p-1 pr-2 border border-gray-300 text-gray-900 text-sm rounded-lg w-full focus:outline-0"
        (change)="toggleSort($event)">
        <option value="rating-desc">Rating</option>
        <option value="price-asc">Price (Ascending)</option>
        <option value="price-desc">Price (Descending)</option>
        <option value="name-asc">Title (Ascending)</option>
        <option value="name-desc">Title (Descending)</option>
      </select>
    </div>
  </div>
  <div class="flex flex-row items-center justify-between lg:hidden">
    <button (click)="toggleFilters()" class="w-[48%] mt-4 mx-1 rounded-xl select-none py-[0.2rem] sm:py-0.5 md:w-[32%] bg-neutral-300 hover:bg-neutral-800
     ease-out duration-300 transition text-neutral-800 hover:text-neutral-200 text-sm sm:text-base">Filters</button>
    <div *ngIf="totalItemsQuantity > 0" class="lg:hidden max-xl:mx-1 mx-3.5 items-end w-[48%] md:w-[32%]">
      <h2 class="text-sm ml-1">Sort by</h2>
      <select class="mt-1 p-1 pr-2 border border-gray-300 text-gray-900 text-sm rounded-lg w-full focus:outline-0"
              (change)="toggleSort($event)">
        <option value="rating-desc">Rating</option>
        <option value="price-asc">Price (Ascending)</option>
        <option value="price-desc">Price (Descending)</option>
        <option value="name-asc">Title (Ascending)</option>
        <option value="name-desc">Title (Descending)</option>
      </select>
    </div>
  </div>
  <div class="flex flex-row justify-center">
    <app-filters [category]="categoryMapping[category]" class="max-lg:hidden mx-auto w-[15.75rem]" style="font-family: 'Open Sans', sans-serif;"></app-filters>
    <div>
      <div *ngIf="filterService.selectedFilters.length > 0" class="max-lg:hidden lg:flex lg:flex-wrap lg:w-[45rem] xl:w-[61rem] min-[1361px]:w-[65.5rem]">
        <app-filter-tag *ngFor="let filter of this.filterService.getFilterOnlyArray()" [initialFilter]="filter"
                        [category]="categoryMapping[category]"
                        class="mt-2 mb-1 mx-1"></app-filter-tag>
      </div>
      <div *ngIf="totalItemsQuantity === 0">
        <h2>nothing</h2>
      </div>
      <div *ngIf="totalItemsQuantity > 0" style="font-family: 'Open Sans', sans-serif;"
           class="grid place-items-center grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 justify-start min-[1361px]:w-[65.5rem]">
        <app-product-card *ngFor="let product of items" [product]="product" [url]="url"></app-product-card>
      </div>
    </div>
  </div>
</main>
