<main *ngIf="totalItemsQuantity === 0" class="flex flex-col my-4 max-w:[82rem]">
  <app-filter-modal [showModal]="isFiltersModalVisible"
                    [category]="this.filterService.categoryMapping[category]"
                    (closeModal)="toggleFilters()"
                    class="h-full z-50"></app-filter-modal>
  <div class="flex flex-row justify-between max-md:mx-auto md:ml-[8.6rem] w-fit lg:ml-[8.3rem] xl:ml-[3.5rem] min-[1361px]:ml-[18.8rem]">
    <div class="flex flex-col select-none justify-start ml-1.5 lg:ml-3.5" draggable="false">
      <h1 class="font-bold text-2xl">{{category.charAt(0).toUpperCase() + category.slice(1).replaceAll('_', ' ')}}</h1>
      <h4 style="font-family: 'Open Sans', sans-serif;" class="text-neutral-500">{{totalItemsQuantity}} items</h4>
    </div>
  </div>
  <div class="flex flex-row items-center justify-center md:justify-start md:ml-[8.6rem] lg:hidden">
    <button (click)="toggleFilters()" class="w-[13.9rem] mt-4 mx-1 rounded-xl select-none py-[0.2rem] sm:py-0.5 md:w-[32%] bg-neutral-300 hover:bg-neutral-800
     ease-out duration-300 transition text-neutral-800 hover:text-neutral-200 text-sm sm:text-base">Filters</button>
  </div>
  <div class="flex flex-row md:ml-[8.6rem] lg:ml-[8.3rem] xl:ml-[3.5rem] min-[1361px]:ml-[18.8rem]">
    <div class="max-lg:hidden lg:flex lg:flex-wrap lg:w-[45rem] xl:w-[61rem] min-[1361px]:w-[65.5rem]">
      <div class="mt-2 mb-1 mx-1 h-full">
        <div class="w-fit mx-1 bg-white border border-neutral-700 rounded-2xl select-none" draggable="false">
          <div class="mx-3 my-1 flex flex-row items-center">
            <div class="flex flex-row items-center">
              <div class="pb-[0.16rem] pt-[0.14rem]">
                <span class="font-bold mr-1">Cancel all</span>
              </div>
            </div>
            <div class="ml-2 -mr-1" (click)="removeAllFilters()">
              <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                   class="h-5 w-5 transition duration-300 ease-out hover:scale-125">
                <path d="M19 5L5 19M5 5L9.5 9.5M12 12L19 19" stroke-width="0.6" stroke="#000000"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <app-filter-tag *ngFor="let filter of this.filterService.getFilterOnlyArray()" [initialFilter]="filter"
                      [category]="this.filterService.categoryMapping[category]"
                      class="mt-2 mb-1 mx-1"></app-filter-tag>
    </div>
  </div>
  <div class="flex flex-col justify-center items-center text-center whitespace-normal max-w-[30rem] sm:max-w-[35rem] md:max-w-[40rem]
   lg:max-w-[62rem] xl:max-w-[78rem] min-[1361px]:max-w-[82rem] mx-[4rem] sm:mx-[8rem] md:mx-[9rem] lg:mx-[9rem]
    xl:mx-[4rem] min-[1361px]:mx-[19.5rem] break-words mt-2 select-none" draggable="false">
    <div class="font-bold text-xl lg:text-2xl max-w-full overflow-hidden my-2">
      Oops! We did everything possible to find what you needed but no suitable items were found!
    </div>
    <div class="text-lg max-w-full overflow-hidden my-2">
      Remove some of the filters and try again!
    </div>
  </div>
</main>
<main *ngIf="totalItemsQuantity > 0" class="flex flex-col my-4 w-fit lg:w-[62rem] xl:w-[78rem] min-[1361px]:w-[82rem] mx-auto max-w-[82rem]">
  <app-filter-modal [showModal]="isFiltersModalVisible"
                    [category]="this.filterService.categoryMapping[category]"
                    (closeModal)="toggleFilters()"
  class="h-full z-50"></app-filter-modal>
  <div class="flex flex-row justify-between">
    <div class="flex flex-col select-none justify-start ml-1.5 lg:ml-3.5" draggable="false">
      <h1 class="font-bold text-2xl">{{category.charAt(0).toUpperCase() + category.slice(1).replaceAll('_', ' ')}}</h1>
      <h4 style="font-family: 'Open Sans', sans-serif;" class="text-neutral-500">{{totalItemsQuantity}} items</h4>
    </div>
    <app-sort-dropdown class="max-lg:hidden lg:mr-2 xl:mx-2 min-[1361px]:mx-3.5 items-end w-60"></app-sort-dropdown>
  </div>
  <div class="flex flex-row items-center justify-between lg:hidden">
    <button (click)="toggleFilters()" class="w-[48%] mt-4 mx-1 rounded-xl select-none py-[0.2rem] sm:py-0.5 md:w-[32%] bg-neutral-300 hover:bg-neutral-800
     ease-out duration-300 transition text-neutral-800 hover:text-neutral-200 text-sm sm:text-base">Filters</button>
    <app-sort-dropdown class="lg:hidden min-[50px]:mr-1 sm:mx-[0.55rem] md:mx-[0.55rem] items-end w-[49%] md:w-[32%]"></app-sort-dropdown>
  </div>
  <div class="flex flex-row">
    <app-filters *ngIf="totalItemsQuantity > 0" [category]="this.filterService.categoryMapping[category]" class="max-lg:hidden mx-auto w-[15.75rem]" style="font-family: 'Open Sans', sans-serif;"></app-filters>
    <div>
      <div *ngIf="this.filterService.getFilterOnlyArray().length > 0" class="max-lg:hidden lg:flex lg:flex-wrap lg:w-[45rem] xl:w-[61rem] min-[1361px]:w-[65.5rem]">
        <div class="mt-2 mb-1 mx-1 h-full">
          <div class="w-fit mx-1 bg-white border border-neutral-700 rounded-2xl select-none" draggable="false">
            <div class="mx-3 my-1 flex flex-row items-center">
              <div class="flex flex-row items-center">
                <div class="pb-[0.16rem] pt-[0.14rem]">
                  <span class="font-bold mr-1">Cancel all</span>
                </div>
              </div>
              <div class="ml-2 -mr-1" (click)="removeAllFilters()">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5 transition duration-300 ease-out hover:scale-125">
                  <path d="M19 5L5 19M5 5L9.5 9.5M12 12L19 19" stroke-width="0.6" stroke="#000000"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <app-filter-tag *ngFor="let filter of this.filterService.getFilterOnlyArray()" [initialFilter]="filter"
                        [category]="this.filterService.categoryMapping[category]"
                        class="mt-2 mb-1 mx-1"></app-filter-tag>
      </div>
      <div *ngIf="totalItemsQuantity > 0" style="font-family: 'Open Sans', sans-serif;"
           class="grid place-items-center grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 justify-start min-[1361px]:w-[65.5rem]">
        <app-product-card *ngFor="let product of items" [product]="product" [url]="url"></app-product-card>
      </div>
      <div *ngIf="totalItemsQuantity > itemsPerPage" class="flex flex-row justify-center mt-4">
        <pagination style="font-family: 'Open Sans', sans-serif;" [ngModel]="currentPageIndex" [boundaryLinks]="true" [totalItems]="totalItemsQuantity"
                    [maxSize]="maxPaginationNavigationLinks" [itemsPerPage]="itemsPerPage"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                    (pageChanged)="changePageIndex($event)">
        </pagination>
      </div>
    </div>
  </div>
</main>
