<div class="mb-3">
    <label class="block mb-2 text-sm font-medium text-gray-900 select-none" draggable="false">{{label}}</label>
    <input
        type={{type}}
        [formControl]="control"
        [ngClass]="(control.touched) ? control.invalid ? 'focus:ring-red-500' : null : null"
        class="bg-gray-50 border border-gray-500 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="{{label}}" required>
    <div *ngIf="control.errors?.['required'] && control.touched" class="m-1 text-sm text-red-600 font-bold">Please enter your {{label.toLowerCase()}}!</div>
    <div *ngIf="control.errors?.['pattern']" class="m-1 text-sm text-red-600 font-bold">Please enter valid {{label.toLowerCase()}}!</div>
</div>
