<div class="w-fit mx-1 bg-white border border-neutral-700 rounded-2xl select-none" draggable="false">
  <div class="mx-3 my-1 flex flex-row items-center">
    <div class="flex flex-row items-center">
      <div>
        <span class="font-bold mr-1">{{this.tagTitle}}:</span>
      </div>
      <div class="pb-0.5 pt-[0.12rem]">
        <span style="font-family: 'Open Sans', sans-serif;" class="mx-1">{{processedFilter}}</span>
      </div>
    </div>
    <div class="ml-2 -mr-1" (click)="removeFilter()">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
           class="h-5 w-5 transition duration-300 ease-out hover:scale-125">
        <path d="M19 5L5 19M5 5L9.5 9.5M12 12L19 19" stroke-width="0.6" stroke="#000000"></path>
      </svg>
    </div>
  </div>
</div>
